:root{
    --bg-primary: #000; 
    --bg-secondary: rgba(65, 65, 64, 0.281);
    --text-color: #c9c7c7; 
    --button-color: #fff;
    --style-border-radius: 4px; 
    --txt-font:'Roboto', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--bg-primary);
    height: 100vh;
    font-family: var(--txt-font);
}
main{
    display: flex;
    justify-content: space-around;
    width: 99%;
    margin: 0 auto;
}
.accueil-bibilotheque{
    width: 30%;
}
.acceuil_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
    color: #c9c7c7;
    font-size: 1.2rem;
    background-color: var(--bg-secondary);
    border-radius: var(--style-border-radius);
    height: 17.7vh;
}
.home-icons, .search-icon{
    display: flex;
}
.acceuil_container span{
    margin: 0.7rem 0 0.7rem 1.5rem;
    font-size: 1.9rem;
}
.acceuil_container p{
    margin :1rem 0 0 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(247, 246, 245, 0.589);
    font-family: 'Nunito Sans', sans-serif;
}

.bibliotheque_container{
    display: flex;
    padding: 1rem 0 0 1.5rem;
    flex-direction: column;
    align-content: center;
    margin-top: 0.5rem;
    color: #c9c7c7;
    font-size: 1.2rem;
    background-color: var(--bg-secondary);
    border-radius: var(--style-border-radius);
    height: 65.5vh;
}
.bibliotheque_container .part-top{
    display: flex;
    justify-content: space-between;
}
.part-top{
    height: 4vh;
}
.part-top .part-top-left{
    display: flex;
}
.part-top-left p{
    margin: 0 0 0 1.4rem;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(247, 246, 245, 0.589);
    font-family: 'Nunito Sans', sans-serif;
}
.part-top .addition{
    padding-right: 1.5rem;
    color: rgba(247, 246, 245, 0.486);
}
.part-center{
    height: 30vh;
    width: 100%;
    overflow-y: scroll; /*Scroller ligne des ordonnées*/
    scroll-snap-type: mandatory; /*SCroller en ligne*/
}
.list-create, .podcasts{
    width: 98%;
    margin-bottom: 1rem;
    background-color: #fafafa10;
    border-radius: var(--style-border-radius);
    font-size: 0.9rem;
    color: #fff;
}
.list-create{
 height: 23vh;
}
.podcasts{
 height: 28vh;
}
.list-create p, h5, .podcasts p, h5{
    padding-left: 1rem;
}
.list-create h5, .podcasts h5{
    padding-top: 1.3rem;
    font-size: 0.9rem;
}
.list-create button, .podcasts button{
    width: 35%;
    height: 5vh;
    float: left;
    margin-left: 1rem;
    background-color: #fff;
    font-size: 0.8rem;
}
.podcasts button{
    width: 50%;
}
.part-bottom{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.part-bottom a{
    text-decoration: none;
    color: #c9c7c7;
    font-size: 0.8rem;
    margin-top: 1rem;
}
.part-bottom button{
    width: 32%;
    height: 5vh;
    font-size: 0.8rem;
    margin-top: 3rem;
    background-color: #0000007c;
    color: #fff;
    border: 1px solid #c9c7c7;
}
.part-bottom span{
    font-size: 1.2rem;
}
/*Style play list Main*/
.play-list_container{
    width: 70%;
    height: 84.5vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0.5rem 0 0.5rem 0.5rem;
    color: #c9c7c7;
    font-size: 1.2rem;
    border-radius: var(--style-border-radius);
}

.play-list_header{
    display: flex;
    width: 99%;
    color: #c9c7c7;
    font-size: 1.2rem;
    background-color: var(--bg-secondary);
    height: 10vh;
}
.icons-direction{
    display: flex;
    align-items: center;
    width: 20%;
}
.icons-direction span{
    font-size: 2rem;
    margin-left: 1rem;
    background-color: #000;
    border-radius: 50%;
}

button{
    float: right;
    height: 8.5vh;
    border-radius: 50px;
    font-size: 1rem;
    border: none;
    font-weight: 600;
    background-color: #e9d5d5b0;
}
.black, .white{
    width: 17%;
    border-radius: 25px;
    height: 2.7rem;
    background-color: #fff;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
    cursor: pointer;
}
.black{
    margin-left: 23rem;
    color:#fff;
    background-color:  rgba(65, 65, 64, 0);;
}
/*PLay list style*/


/*Footer Style*/
footer{
    width: 99%;
    height: 12vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #c9c7c7;
    background: linear-gradient(5deg,  #be2590, #2596be);
}
.text-footer{
    margin-left: -8rem; 
}

footer h3{
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 300;
 }
 footer p{
     font-size: 0.9rem;
 }

footer button{
    align-content: end;
    height: 8.5vh;
    border-radius: 50px;
    font-size: 1rem;
    width: 18%;
    border: none;
    font-weight: 600;
    background-color: #e9d5d5b0;
    margin-right: -8rem;
}
